<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esquilo Bombado</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <style>
        body {background-image: url("../imgs/logo.jpeg");}
        .logo{
            border-radius: 100%;
        }
        .dd{
            border: solid 5px;

        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div id="controleC" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#controleC" data-slide-to="0" class="active"></li>
                        <li data-target="#controleC" data-slide-to="1"></li>
                        <li data-target="#controleC" data-slide-to="2"></li>
                        <li data-target="#controleC" data-slide-to="3"></li>
                        <li data-target="#controleC" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../imgs/esquilo.jpeg">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Esquilos Bombados</h3>
                                <p>Para toda casada se aventurar!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../imgs/esquilo4.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Nossos Esquilos trabalham em equipe!</h3>
                                <p>Na fabrica de esquilo, nossos esquilos são unidos!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../imgs/esquilo6.jpeg">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Cuidado Casado!</h3>
                                <p>A tropa de esquilos está chegando na sua rua!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../imgs/esquilo2.jpg">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Temos variação de cores!</h3>
                                <p>Na fabrica de esquilos, temos esquilos de todos os gostos</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../imgs/esquilo3.png">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>Pronto para qualquer desafio!</h3>
                                <p>Enfrente o lado selvagem que habita em você!</p>
                            </div>
                        </div>
                    </div>
                    <a href="#controleC" class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Voltar</span>
                    </a>
                    <a href="#controleC" class="carousel-control-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Avançar</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>
</html>